<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>랜덤 채팅</title>
  <link rel="stylesheet" href="/css/styles.css"><!-- 시간나면 스타일 개선 예정 -->
  <!-- jQuery 추가 -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script src="js/main.js"></script> <!-- main.js 로 변경 -->
</head>
<body>
<div class="container">
  <h1>채팅방 목록</h1>

  <!-- 방 생성 버튼 -->
  <button id="createChat">1:1 랜덤 채팅</button>
  <button id="createRoom">방 생성</button>

  <!-- 채팅방 리스트 -->
  <div id="chatRooms">
    <ul>
      <!-- 채팅방 목록 (동적으로 채워짐) -->
    </ul>
  </div>
</div>
</body>
</html>
